__pycache__/
.venv/
.pipx/

logs/
trained_models/

src/semantic_parsing_with_constrained_lm/domains/calflow/data/*.jsonl
src/semantic_parsing_with_constrained_lm/domains/calflow/grammar/grammar.scfg
src/semantic_parsing_with_constrained_lm/domains/overnight/data/